@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@font-face {
    font-family: "Baybayin Neue";
    src: url("./assets/fonts/BaybayinNeue-Regular.otf") format("opentype");
}

@theme {
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
    --font-baybayin: "Baybayin Neue", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}